

.navbar-brand {
    font-size: 2.25rem;
}

.form-group input {
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    display: block;
    width: 450px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
}


body {
        background-image: url("https://w.forfun.com/fetch/77/77f3aa05d41552a0d184ff756ae9fa34.jpeg");
        background-repeat: no-repeat;
        font-family: 'Baloo Bhai', cursive;
        color: white;
        margin: 0px;
        padding: 0px;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;


    }



.heading{
    margin-left: 350px;
    margin-top: 50px;
    color: rgb(253, 78, 78);
}
.button-issue{
    margin-top: 20px;
    margin-left: 200px;
}
.main-cont{
    margin-left: 630px;
}
.main-heading{
    margin-left: 50px;
}